<html>
    <head>
        <title>브레인팟</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://s3.ap-northeast-2.amazonaws.com/3dprintercluster/CSS/w3css.css">
        <link rel="stylesheet" href="https://s3.ap-northeast-2.amazonaws.com/3dprintercluster/CSS/main.css">
        <link rel="stylesheet" href="https://s3.ap-northeast-2.amazonaws.com/3dprintercluster/CSS/font.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    </head>
    <body>
            <!-- Navigation Bar / 상단바 영역 -->
        <ul class="w3-navbar w3-white w3-border-bottom w3-xlarge">
            <li>
                <a href="/" class="w3-text-Blue w3-hover-Indigo"><b><i class="fa fa-cloud w3-margin-right"></i>Brainpot : 온라인 웹 브레인스토밍도구</b></a>
            </li>
        </ul>
            <!-- Navigation Bar / 하단바 영역 -->
        <ul class="w3-navbar w3-bottom w3-black w3-border-bottom w3-xlarge">
            <li class="w3-right"><a href="/" class="" style="font-size: small">Alpha v 0.5.5</a></li>
        </ul>
        <style>
            html {background: url("https://s3.ap-northeast-2.amazonaws.com/brainpot/image/back.png" ) no-repeat center center fixed; -webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;}

            /* The Modal (background) */
            .modal {
                display: none; /* Hidden by default */
                position: fixed; /* Stay in place */
                z-index: 1; /* Sit on top */
                padding-top: 100px; /* Location of the box */
                left: 0;
                top: 0;
                width: 100%; /* Full width */
                height: 100%; /* Full height */
                overflow: auto; /* Enable scroll if needed */
                background-color: rgb(0,0,0); /* Fallback color */
                background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
            }

            /* Modal Content */
            .modal-content {
                position: relative;
                background-color: #fefefe;
                margin: auto;
                padding: 0;
                border: 1px solid #888;
                width: 80%;
                box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
                -webkit-animation-name: animatetop;
                -webkit-animation-duration: 0.4s;
                animation-name: animatetop;
                animation-duration: 0.4s
            }

            /* The Close Button */
            .close {
                color: white;
                float: right;
                font-size: 28px;
                font-weight: bold;
            }

            .close:hover,
            .close:focus {
                color: #000;
                text-decoration: none;
                cursor: pointer;
            }

            .modal-header {
                padding: 2px 16px;
                background-color: #0277bd;
                color: white;
            }

            .modal-body {
                padding: 2px 16px;
            }
    </style>
            <!-- Header -->
        <header class="w3-display-container w3-content w3-hide-small" style="max-width:100%">
            <img class="w3-image" src="https://s3.ap-northeast-2.amazonaws.com/brainpot/image/clear.png" alt="IndexImage" width="100%" height="100%">
            <div class="w3-display-middle" style="width:65%">
                <ul class="w3-navbar w3-black">
                    <li><a href="javascript:void(0)" class="tablink jejuMedium" onclick="openLink(event, 'help');">Brainpot 소개</a></li>
                    <li><a href="javascript:void(0)" class="tablink jejuMedium" onclick="openLink(event, 'up');">팀 생성</a></li>
                    <li><a href="javascript:void(0)" class="tablink jejuMedium" onclick="openLink(event, 'in');">팀 참가</a></li>
                </ul>

                <div id="help" class="w3-container w3-white w3-padding-16 myLink">
                    <a class="jejuxLarge">Brainpot은 언제 어디서든 누구나 사용할 수 있는 실시간 온라인 브레인스토밍 도구입니다.</a><br><br>
                    <a class="jejuLarge"><em><a href="https://ko.wikipedia.org/wiki/%EB%B8%8C%EB%A0%88%EC%9D%B8%EC%8A%A4%ED%86%A0%EB%B0%8D#.EC.98.A4.EC.8A.A4.EB.B3.B8_.EB.B0.A9.EC.8B.9D" class="jejuLarge" target="_blank">알렉스 오스본의 브레인스토밍</a></em></a>
                    <a class="jejuLarge">4원칙인 <b>양보다는 질, 비판 금지, 아이디어 조합, 특이한 아이디어 환영</b>을 따라 팀원들과 브레인스토밍을 진행하세요 !</a>
                    <div class="w3-row-padding w3-margin-top">
                        <div class="w3-third">
                            <div class="w3-card-2">
                                <img src="https://s3.ap-northeast-2.amazonaws.com/brainpot/image/index/chap1.png" style="width:100%;cursor:zoom-in" onclick="document.getElementById('modal01').style.display='block'">
                                <div class="w3-container">
                                    <h5 class="jejuLarge">1. 초기화면</h5>
                                </div>
                            </div>
                        </div>

                        <div class="w3-third">
                            <div class="w3-card-2">
                                <img src="https://s3.ap-northeast-2.amazonaws.com/brainpot/image/index/chap2.png" style="width:100%;cursor:zoom-in" onclick="document.getElementById('modal02').style.display='block'">
                                <div class="w3-container">
                                    <h5 class="jejuLarge">2. 아이디어 제시</h5>
                                </div>
                            </div>
                        </div>

                        <div class="w3-third">
                            <div class="w3-card-2">
                                <img src="https://s3.ap-northeast-2.amazonaws.com/brainpot/image/index/chap3.png" style="width:100%;cursor:zoom-in" onclick="document.getElementById('modal03').style.display='block'">
                                <div class="w3-container">
                                    <h5 class="jejuLarge">3. 아이디어 그룹핑</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w3-row-padding w3-margin-top">
                        <div class="w3-third">
                            <div class="w3-card-2">
                                <img src="https://s3.ap-northeast-2.amazonaws.com/brainpot/image/index/chap4.png" style="width:100%;cursor:zoom-in" onclick="document.getElementById('modal04').style.display='block'">
                                <div class="w3-container">
                                    <h5 class="jejuLarge">4. 그룹 의미부여</h5>
                                </div>
                            </div>
                        </div>

                        <div class="w3-third">
                            <div class="w3-card-2">
                                <img src="https://s3.ap-northeast-2.amazonaws.com/brainpot/image/index/chap5.png" style="width:100%;cursor:zoom-in" onclick="document.getElementById('modal05').style.display='block'">
                                <div class="w3-container">
                                    <h5 class="jejuLarge">5. 투표</h5>
                                </div>
                            </div>
                        </div>

                        <div class="w3-third">
                            <div class="w3-card-2">
                                <img src="https://s3.ap-northeast-2.amazonaws.com/brainpot/image/index/chap6.png" style="width:100%;cursor:zoom-in" onclick="document.getElementById('modal06').style.display='block'">
                                <div class="w3-container">
                                    <h5 class="jejuLarge">6. 투표 결과</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="modal01" class="w3-modal" onclick="this.style.display='none'">
                        <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
                        <div class="w3-modal-content w3-animate-zoom">
                            <img src="https://s3.ap-northeast-2.amazonaws.com/brainpot/image/index/chap1.png" style="width:100%">
                        </div>
                    </div>
                    <div id="modal02" class="w3-modal" onclick="this.style.display='none'">
                        <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
                        <div class="w3-modal-content w3-animate-zoom">
                            <img src="https://s3.ap-northeast-2.amazonaws.com/brainpot/image/index/chap2.png" style="width:100%">
                        </div>
                    </div>
                    <div id="modal03" class="w3-modal" onclick="this.style.display='none'">
                        <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
                        <div class="w3-modal-content w3-animate-zoom">
                            <img src="https://s3.ap-northeast-2.amazonaws.com/brainpot/image/index/chap3.png" style="width:100%">
                        </div>
                    </div>
                    <div id="modal04" class="w3-modal" onclick="this.style.display='none'">
                        <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
                        <div class="w3-modal-content w3-animate-zoom">
                            <img src="https://s3.ap-northeast-2.amazonaws.com/brainpot/image/index/chap4.png" style="width:100%">
                        </div>
                    </div>
                    <div id="modal05" class="w3-modal" onclick="this.style.display='none'">
                        <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
                        <div class="w3-modal-content w3-animate-zoom">
                            <img src="https://s3.ap-northeast-2.amazonaws.com/brainpot/image/index/chap5.png" style="width:100%">
                        </div>
                    </div>
                    <div id="modal06" class="w3-modal" onclick="this.style.display='none'">
                        <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
                        <div class="w3-modal-content w3-animate-zoom">
                            <img src="https://s3.ap-northeast-2.amazonaws.com/brainpot/image/index/chap6.png" style="width:100%">
                        </div>
                    </div>

                    <br>
                    <br>
                    <div class="w3-center">
                        <a class="w3-btn jejuLarge w3-hover-Indigo tablink" href="javascript:void(0)" onclick="openLink(event, 'up');">팀 생성 후 팀원 초대하기</a>
                        <a class="w3-btn jejuLarge w3-hover-Indigo tablink" href="javascript:void(0)" onclick="openLink(event, 'in');">초대코드로 기존 팀 참가하기</a>
                    </div>
                </div>
                    <!-- Tabs -->
                <div id="up" class="w3-container w3-white w3-padding-16 myLink">
                    <a class="jejuLarge">온라인에서 브레인스토밍을 진행 할 팀을 생성합니다.</a>
                    <form id="form_create" method="post" action="/create">
                        <br><br>
                        <div class="w3-row-padding" style="margin:0 -16px;">
                            <div class="w3-half">
                                <label class="jejuMedium" > &nbsp; 브레인스토밍 주제 입력</label>
                                <input class="w3-input w3-border" type="text"  name="TOPIC" maxlength="30" required placeholder="ex) 오늘 저녁 메뉴를 정해보자">
                            </div>
                            <div class="w3-half">
                                <label class="jejuMedium"> &nbsp; 팀장(본인) 닉네임 입력</label>
                                <input class="w3-input w3-border" type="text"  required  maxlength="10" name="NICKNAME" placeholder="ex) 홍길동">
                                <br>
                            </div>
                        </div>
                        <input type="button" onclick="servicePossible('create')" class="w3-btn w3-dark-grey jejuSmall" value="팀 생성 후 계속">
                    </form>
                </div>


                <form id="form_join" method="post" action="/join">
                    <div id="in" class="w3-container w3-white w3-padding-16 myLink" STYLE="display: none">
                        <a class="jejuLarge">이미 생성된 팀에 참가합니다.</a>
                            <br><br><br>
                            <div class="w3-row-padding" style="margin:0 -16px;">
                                <div class="w3-half">
                                    <label class="jejuMedium" > &nbsp; 본인 닉네임</label>
                                    <input class="w3-input w3-border" type="text"  name="NICKNAME"  maxlength="10" required placeholder="ex) 홍길동">
                                </div>
                                <div class="w3-half">
                                    <label class="jejuMedium"> &nbsp; 팀코드 5자리 입력</label>
                                    <input class="w3-input w3-border" type="text"  required minlength="5" maxlength="5" name="CODE" placeholder="ex) ABCD2">
                                    <br>
                                </div>
                            </div>
                            <input type="button" onclick="servicePossible('join')" class="w3-btn w3-dark-grey jejuSmall" value="팀 참가 후 계속">
                    </div>
                </form>
            </div>
        </header>

        <!-- 경고창(해상도) -->
        <div id="modal_warning_res" class="modal">
          <div class="modal-content">
            <div class="modal-header">
              <span class="close">&times;</span>
              <h2>모니터 해상도 경고</h2>
            </div>
            <div class="modal-body">
              <p>브레인 팟은 1920X1080 Full HD 해상도만 지원합니다. 모니터의 해상도를 확인해주세요.</p>
            </div>
          </div>
        </div>

        <!-- 경고창(브라우저) -->
        <div id="modal_warning_brw" class="modal">
          <div class="modal-content">
            <div class="modal-header">
              <span class="close">&times;</span>
              <h2>브라우저 버전 경고</h2>
            </div>
            <div class="modal-body">
              <p>Chrome 브라우저와 Opera 브라우저를 지원하며 Internet Explorer는 지원하지 않습니다.</p>
            </div>
          </div>
        </div>

        <script src="@routes.Assets.at("js/screen.js")"></script>
        <script>
            var modal_warning_res = document.getElementById('modal_warning_res');
            var modal_warning_brw = document.getElementById('modal_warning_brw');
            var close1 = document.getElementsByClassName("close")[0];
            var close2 = document.getElementsByClassName("close")[1];

            close1.onclick = function () {
                modal_warning_res.style.display = "none";
            }

            close2.onclick = function () {
                modal_warning_brw.style.display = "none";
            }

            window.onclick = function (event) {
                if (event.target === modal_warning_res)
                    modal_warning_res.style.display = "none";
                else if (event.target === modal_warning_brw)
                    modal_warning_brw.style.display = "none";
            }

            function checkResolution() {
                return resolution === "FHD";
            }

            function checkBrowser() {
                var agent = navigator.userAgent.toLowerCase();

                if (agent.indexOf("chrome") != -1 || agent.indexOf("opera") != -1)
                    return true;
                else
                    return false;
            }

            function servicePossible(name) {
                if (checkResolution() && checkBrowser())
                    document.getElementById("form_" + name).submit();
                else if (checkBrowser())
                    modal_warning_res.style.display = "block";
                else
                    modal_warning_brw.style.display = "block";
            }
            // Tabs
            function openLink(evt, linkName) {
                var i, x, tablinks;
                x = document.getElementsByClassName("myLink");
                for (i = 0; i < x.length; i++) {
                    x[i].style.display = "none";
                }
                tablinks = document.getElementsByClassName("tablink");
                for (i = 0; i < x.length; i++) {
                    tablinks[i].className = tablinks[i].className.replace("w3-Indigo", "");
                }
                document.getElementById(linkName).style.display = "block";
                evt.currentTarget.className += " w3-Indigo";
            }
            // Click on the first tablink on load
            document.getElementsByClassName("tablink")[0].click();
    </script>
    </body>


</html>
