@()
<!DOCTYPE html>
    <html lang="ko-kr">
        <head>
            <meta charset="UTF-8">
            <title>Title</title>
        </head>
        <body>
            <form method="post" action="/create">
                <label>닉네임 입력</label><br>
                <input type="text" minlength="1" maxlength="10" required id="NICKNAME"><br>

                <label>토의 주제 입력</label><br>
                <input type="text" minlength="1" maxlength="30" required id="TOPIC"><br><br>

                <input type="submit" value="Go!!">
            </form>

            <form method="post" action="/join">
                <label>닉네임 입력</label><br>
                <input type="text" minlength="1" maxlength="10" required id="NICKNAME" name="NICKNAME"><br>

                <label>초대코드</label><br>
                <input type="text" minlength="5" maxlength="5" required id="CODE" name="CODE"><br><br>

                <input type="submit" value="Go!!">
            </form>
        </body>
    </html>